# Python/cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store

# Environments
.env
.venv/
mlenv/

# Large raw dataset
data/raw/

# Model checkpoints
results/models/

# Duplicate experiment folders
results_no_norm/
results_imagenet_norm/

# Zip files
*.zip